#creditscreen {
    grid-column: 2 / 10;
    grid-row: 3 / 9;
    border-color: black;
    background-color: lightgray;
    padding-left: 1em;
    padding-right: 1em;
    font-family: sans-serif;
    z-index: 100;
    display: none;
}