#missionexecutionscreen {
    grid-column: 3 / 9;
    grid-row: 3 / 9;
    border-color: black;
    background-color: lightgray;
    font-family: sans-serif;
    z-index: 100;
    display: none;
}

#execution-grid {
    display: grid;
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: repeat(6, 10vh);
}

#execution-mission-requirement {
    grid-column: 1 / 7;
    grid-row: 1;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#execution-piece-count {
    grid-column: 1 / 7;
    grid-row: 2;
    font-size: 3rem;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#execution-other-plastics {
    grid-column: 1 / 4;
    grid-row: 3 / 7;
    font-size: 1.2rem;
    text-align: left;
    align-self: center;
    justify-self: center;
}

#execution-other-plastics-counts {
    grid-column: 4 / 7;
    grid-row: 3 / 7;
    font-size: 1.2rem;
    text-align: left;
    align-self: center;
    justify-self: center;
}