.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 100px);
    row-gap: 10px;
}

header {
    grid-column: 1 / 8;
    grid-row: 1;
    background-color: gray;
}

header img {
    max-height: 100%;
}

footer {
    grid-column: 1 / 8;
    grid-row: 9 / 10;
}

footer img {
    max-height: 35%;
}

.worldmap {
    grid-column: 1 / 8;
    grid-row: 2 / 9;
}
