#missionscreen {
    grid-column: 3 / 9;
    grid-row: 3 / 9;
    border-color: black;
    background-color: lightgray;
    font-family: sans-serif;
    z-index: 100;
    display: none;
}

#mission-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 10vw));
    grid-template-rows: repeat(6, minmax(0, 10vh));
}

#mission-header {
    grid-row: 1;
    grid-column: 1 / 7;
    align-self: center;
    justify-self: stretch;
    max-height: 100%;
    text-align: center;
    font-size: x-large;
}

#mission-plastics {
    grid-row: 2 / 4;
    grid-column: 4 / 7;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#plastic-image {
    grid-row: 2 / 4;
    grid-column: 2;
    max-height: 100px;
    max-width: 100px;
    align-self: center;
    justify-self: center;
}

#mission-products {
    grid-row: 4 / 6;
    grid-column: 1 / 4;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#to-make-text {
    font-size: 1rem;
}

#product-image {
    grid-row: 4 / 6;
    grid-column: 5;
    max-height: 100px;
    max-width: 100px;
}

#mission-yes-button {
    grid-row: 6;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    font-size: 1.75rem;
    padding: 15px 40px;
}

#accept-text {
    grid-row: 6;
    grid-column: 3 / 5;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
}

#mission-no-button {
    grid-row: 6;
    grid-column: 5;
    align-self: center;
    justify-self: center;
    font-size: 1.75rem;
    padding: 15px 40px;
}
