#missionscreen {
    grid-column: 2 / 7;
    grid-row: 3 / 8;
    border-color: black;
    background-color: lightgray;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 100;
    display: none;
}

#missionscreen h1 {
    font-size: 3em;
    font-family: sans-serif;
    text-align: center;
}

#mission-yes-button {
    background-color: green;
}

#mission-no-button {
    background-color: red;
}