#splashscreen {
    grid-column: 2 / 10;
    grid-row: 3 / 9;
    border-color: black;
    background-color: lightgray;
    font-family: sans-serif;
    z-index: 100;
}

#splash-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 10vw));
    grid-template-rows: repeat(6, minmax(0, 10vh));
}

#splash-grid h1 {
    grid-column: 2 / 8;
    grid-row: 1;
    font-size: 2em;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#splash-text {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    font-size: 1em;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#splash-grid ul {
    grid-column: 2 / 8;
    grid-row: 4 / 6;
    font-size: 1em;
    color: mediumblue;
    align-self: center;
    justify-self: center;
}

#splash-grid h3 {
    grid-column: 2 / 8;
    grid-row: 6;
    font-size: 1.5em;
    text-align: center;
    align-self: center;
    justify-self: center;
}
