body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

header {
    background-color: gray;
    flex: 1;
}

section {
    flex: 3;
    align-items: center;
}
    
footer {
    flex: 1;
    font-size: 8em;
}
    
h1 {
    font-size: 32px;
    font-family: 'Lucida Sans';
}

p {
    font-size: 18px;
    font-family: 'Lucida Sans';
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    border-radius: 8px;
    padding: 32px 48px;
    background-color: lightseagreen;
}