#splashscreen {
    grid-column: 2 / 10;
    grid-row: 3 / 9;
    border-color: black;
    background-color: lightgray;
    padding-left: 1em;
    padding-right: 1em;
    font-family: sans-serif;
    z-index: 100;
}

#splashscreen h1 {
    font-size: 3em;
    text-align: center;
    align-self: stretch;
}

#splashscreen h3 {
    font-size: 2em;
    text-align: center;
}

#splashscreen p {
    font-size: 1.2em;
    text-align: center;
}

#splashscreen li {
    font-size: 1.2em;
    color: mediumblue;
}
